@font-face {
	font-family: "Yanone Kaffeesatz";
	font-style: normal;
	font-weight: 200;
	src: local("Yanone Kaffeesatz ExtraLight"), local("YanoneKaffeesatz-ExtraLight"), url(../fonts/yanone.woff) format("woff");
	}
